.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  justify-content: center;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-subtitle {
  font-size: 1.3rem;
  margin-bottom: 10px ;
  font-weight: 500;
  text-align: center;
}

.footer-text {
  color: #bbb;
  font-size: 0.9rem;
  line-height: 1.5;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 6px;
  text-align: center;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 10px
}

.footer-icons a {
  color: #ccc;
  font-size: 1.8rem;
  transition: color 0.3s;
  display: flex;
}

.footer-icons a:hover {
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  padding-top: 15px;
  font-size: 0.85rem;
  color: #888;
  margin-top: 30px;
}
