.navbar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: var(--color-black);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 320px;
}

.logo img {
  height: 65px;
  width: auto;
  object-fit: contain; /*  La imagen se escala para caber en el contenedor sin recortarse. */
  margin-right: 8px;
  cursor: pointer;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  background: #F5F5F5;
  border-radius: 8px;
  padding: 0 16px;
  width: 480px;
  height: 40px;
}

.search-box input {
  background: transparent;
   border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  padding: 8px 0;
}

.navbar-icon {
  margin-left: 4px;
  height: 30px;
  width: 30px;
  color: var(--color-beige-medium);
  cursor: pointer;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login-btn {
  background: var(--color-black);
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}