.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: var(--color-black);
  position: fixed; 
  z-index: 90;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.navbar.scrolled {
  height: 70px;
  top: 10px;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(6px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 320px;
}

.logo img {
  height: 65px;
  width: auto;
  object-fit: contain; /*  La imagen se escala para caber en el contenedor sin recortarse. */
  margin-right: 8px;
  cursor: pointer;
}

.navbar.scrolled .logo img {
  height: 45px;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  background: #F5F5F5;
  border-radius: 8px;
  padding: 0 16px;
  width: 480px;
  height: 45px;
}

.search-box input {
  background: transparent;
   border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  padding: 8px 0;
}

.navbar-icon {
  margin-left: 4px;
  height: 30px;
  width: 30px;
  color: var(--color-beige-medium);
  cursor: pointer;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login-btn {
  background: var(--color-black);
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.search-navbar-btn {
  width: 32px;
  height: 32px;
  border-left: 1px solid var(--color-black);
  border-top: none;
  border-right: none;
  border-bottom: none; 
  transition: all 3s ease;
}

.search-navbar-btn :hover{
  background: var(--color-black);
}