@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.content-categoria {
  font-family: 'Bebas Neue', sans-serif;
}
.categoria-item {
  width: 200px;
  height: 210px;
  flex: 0 0 auto;
  text-align: center;
  padding: 1rem;
  margin-right: 1rem;

}

.categoria-item img {
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto 0.5rem auto;
  position: absolute;
}

.categoria-nombre {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.categoria-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 130px;
  position: relative;
}

.image img {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 12px;
}

.content-categoria {
  font-family: 'Bebas Neue', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: var(--color-blue-dark);
}

.image:hover .content-categoria {
  opacity: 1;
}