body {
    background-color: #F1EFEC;
}

.banner-area {
   background-image: url(../../../public/images/ropaGenerica.png);
   background-size: cover;
   background-position: center;
    top: 100px;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}


