body {
    background-color: var(--color-beige-light);
    padding : 0;
    font-family: 'Montserrat', sans-serif;
}

.banner-area {
   background-image: url(../../../public/images/ropaGenerica.png);
   background-size: cover;
   background-position: center;
    top: 100px;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}


